body {
  background-color: #b36bd7;
  text-align: center;
}

ul li {
  display: inline;
  list-style: none;
  padding: 30px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(155, 43, 24);
}

a:visited {
  text-decoration: none;
  color: rgb(9, 11, 99);
}

.email-link {
  font-size: 15px;
  color: #fff;
}
